body {
     margin: 0;
     box-sizing: border-box; 
}

.row1{
    background-color:#2f3c43;
    padding-top: 14px;
    padding-bottom: 4px;
    display: flex;
}

.row1 .info ul li {
    display: inline;
    padding: 10px;
    color: white;
}

.yellowCircle {
    background-color: #f0c24b;
    padding: 2px;
    border-radius: 25%;
}

.yellowCircleNb {
    background-color: #f0c24b;
    padding: 12px;
    border-radius: 50%;
}

#yellowIcon {
    background-color: #f0c24b;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.greenCircle {
    background-color: #b5d56a;
    padding: 2px;
    border-radius: 25%;
}

.greenCircleNb {
    background-color: #b5d56a;
    padding: 12px;
    border-radius: 50%;
}

#greenIcon {
    background-color: #b5d56a;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.redCircle {
    background-color: #5a0a0a;
    padding: 2px;
    border-radius: 25%;
}

.redCircleNb {
    background-color: #5a0a0a;
    padding: 12px;
    border-radius: 50%;
}

#redIcon {
    background-color: #5a0a0a;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.blueCircle {
    background-color: #84bed6;
    padding: 2px;
    border-radius: 25%;
}

.blueCircleNb {
    background-color: #84bed6;
    padding: 12px;
    border-radius: 50%;
}

#blueIcon {
    background-color: #84bed6;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.purpleCircleNb {
    background-color: #a597e7;
    padding: 12px;
    border-radius: 50%;
}

#purpleIcon {
    background-color: #a597e7;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.pinkCircle {
    background-color:#ea77ad;
    padding: 2px;
    border-radius: 25%;
}

.pinkCircleNb {
    background-color:#ea77ad;
    padding: 12px;
    border-radius: 50%;
}

#pinkIcon {
    background-color:#ea77ad;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.row1 .cart ul li {
    display: inline;
    padding: 10px;
    color: white;
}

.row1 .cart {
    position: absolute;
    float: left;
    right: 5px;
}

.headerLogo {
    width: 50%;
}

.headerLogo img {
    width: 80%;
    padding-left: 10px;
}

#navbar-toggler {
    background-color: #2f3c43;
}

#navbar-brand {
    width: 50%;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
    
body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
}

.titleFeatures p {
    font-size: 40px;
    text-align: center;
}
.textFeature {
   width: 45vh;
}
.rowFeatures{
    display: block;
    overflow: hidden;
    width: 100%;
    margin-left: 10%;
    max-width: 90%;
    justify-content: center;
    margin-bottom: 20px;
}
.features{
    display: block;
    float: left;
    width: calc(100% / 3);
}
.iconFeature i{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #fff;
    font-size: 1.38rem;
}

#navbar-nav {
    padding-top: 20px;
}

#navbar-nav li{
    padding-right: 15px;
}

.text-navbar {
    color: black;
    padding-top: 5px;
}

.center-text {
    text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}
.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}
.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}
.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
.gallery-image:hover {
	transform: scale(1.15);
}
@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(18rem, 0.7fr));
		grid-gap: 1rem;
	}
	.gallery,
	.gallery-item {
		margin: 0;
	}
}

.ourTeam {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}
.cf:before,
.cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.team-container {
    max-width: 1000px;
    margin: auto;
    border-top: 1px #e9e9e9 solid;
    border-bottom: 1px #e9e9e9 solid;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-top: 3em;
    position: relative;
}
.team-member {
    width: 16%;
    float: left;
    text-align: center;
    margin-right: 25%;
}
.team-member:last-child {margin-right: 0;}
.team-member span,
.team-member h3 {
    max-width: 200px;
    font-family: sans-serif;
    letter-spacing: -1px;
}
.team-member h3 {
    color: #1CA3A3;
}
.email {
    color: #EA2678;
}
.team-member span {
    display: block;
}
.team-photo {
    border-radius: 50%;
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    transition: 0.1s transform ease-in-out;
}
.team-photo:hover {
    transform: scale(0.9);
    cursor: pointer;
}
  
.footer-distributed{
	background: rgb(255, 254, 254);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
    border-top: rgb(81, 81, 243) solid 1px;
}
#kidz {
    color: red;
    font-weight: bold;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left {
	width: 30%;
}
.footer-distributed h3 {
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}
.footer-distributed h3 span {
	color: blue;
}
.footer-distributed .footer-links {
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a {
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name {
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center {
	width: 35%;
}
.footer-distributed .footer-center i {
	background-color: rgb(81, 81, 243);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p {
	display: inline-block;
	color: #000000;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a {
	color:  lightseagreen;
	text-decoration: none;;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
	width: 20%;
}
.footer-distributed .footer-company-about {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span {
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons {
	margin-top: 25px;
}
.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  rgb(81, 81, 243);
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed form {
	display: inline-block;
}
.footer-distributed form input,
.footer-distributed form textarea {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #ececec;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 270px;
	padding: 18px;
}
.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}
.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}
.footer-distributed :-ms-input-placeholder {
	color:  #5c666b;
}
.footer-distributed form input {
	height: 55px;
	margin-bottom: 15px;
}
.footer-distributed form textarea {
	height: 70px;
	margin-bottom: 20px;
}
.footer-distributed form button {
	border-radius: 3px;
	background-color:  rgb(81, 81, 243);
	color: #ffffff;
	border: 0;
	padding: 15px 115px;
	font-weight: bold;
	float: right;
}

@media only screen and (max-width: 1100px) {
    .row1 {
        display: flex;
    }
    .row1 .info {
        width: 50%;
    }
    #timeHeader {
        display: none;
    }
    .row1 .info ul li {
        padding: 10px;
        color: white;
    }
    .titleFeatures p {
        font-size: 40px;
        text-align: center;
    }
    .textFeature {
        width: 45vw;
    }
    .rowFeatures {
        overflow: hidden;
        margin-left: 5%;
    }
    .features {
        width: calc(100% / 2);
    }
    .iconFeature i {
        margin-top: 10px;
        width: 135px;
        height: 135px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        border: 2px solid #fff;
        font-size: 1.38rem;
    }
}

@media only screen and (max-width: 940px) {
    .row1 {
        display: flex;
    }
    .row1 .info {
        width: 50%;
    }
    .row1 .cart {
        position: absolute;
        float: left;
        right: 20px;
    }
    #timeHeader {
        display: none;
    }
    .row1 .info ul li {
        padding: 4px;
        color: white;
    }
    .titleFeatures p {
        font-size: 40px;
        text-align: center;
    }
    .textFeature {
        width: 40vw;
    }
    .features {
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 870px) {
    .row1 {
        display: flex;
    }
    .row1 .info {
        width: 50%;
    }
    #timeHeader {
        display: none;
    }
    .row1 .info ul li {
        padding: 4px;
        color: white;
    }
    .headerLogo img {
        width: 100%;
        padding-left: 10px;
    }
    .headerLogo {
        padding: 2%;
        margin-right: 0%;
    }
    .titleFeatures p {
        font-size: 40px;
        text-align: center;
    }
    .textFeature h1 {
       width: 45vh;
    }
    .features {
        width: calc(100% / 2);
    }
}

@media (max-width: 880px) {
	.footer-distributed {
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
}

@media only screen and (max-width: 770px) {
    .row1 {
        display: flex;
    }
    .row1 .info {
        width: 40%;
    }
    .row1 .cart {
        position: absolute;
        float: left;
        right: 5px;
    }
    #phoneHeader {
        display: none;
    }
    #timeHeader {
        display: none;
    }
    .row1 .info ul li {
        padding: 0px;
        color: white;
    }
    .row1 .info ul{
        padding-left: 10px;
    }
    .headerLogo {
        width: 100%;
    }
    .headerLogo img{
        width: 100%;
        padding-left: 10px;
    }
    .titleFeatures p {
        font-size: 40px;
        text-align: center;
    }
    .textFeature {
       width: 40vw;
    }
    .rowFeatures {
        margin-left: 10%;
        max-width: 90%;
    }
    .features {
        width: calc(100% / 2);
    }
    .center-text {
        text-align: left;
    }
}

@media (max-width:650px){
    .team-member {
      width:20%;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 40px;
    }
    .team-photo {
        max-width: 35%;
      }
}

@media only screen and (max-width: 540px) {
    .features {
        width: calc(100% / 1);
        text-align: center;
    }

    .features h2 {
        width: 100%;
        text-align: center;
    }

    .textFeature {
        width: 100vw;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
     }

     .rowFeatures {
         margin-left: 0%;
         max-width: 100%;
     }
}

@media (max-width:650px){
    .team-member {
      float: none;
      display: block;
      margin: 50px auto;
      width: 100%;
      text-align: center;
    }
    
    .team-member h3,
    .team-member span {
      margin: 15px auto;
    }

    @supports (display: grid) {
        .gallery,
        .gallery-item {
            margin-left: 5%;
        }
    }
}