body {
     margin: 0;
     box-sizing: border-box; 
}

.row1{
    background-color:#2f3c43;
    padding-top: 14px;
    padding-bottom: 4px;
    display: flex;
}

.row1 .info ul li {
    display: inline;
    padding: 10px;
    color: white;
}

.yellowCircle{
    background-color: #f0c24b;
    padding: 2px;
    border-radius: 25%;
}

.yellowCircleNb{
    background-color: #f0c24b;
    padding: 12px;
    border-radius: 50%;
}

#yellowIcon{
    background-color: #f0c24b;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.greenCircle{
    background-color: #b5d56a;
    padding: 2px;
    border-radius: 25%;
}

.greenCircleNb{
    background-color: #b5d56a;
    padding: 12px;
    border-radius: 50%;
}

#greenIcon{
    background-color: #b5d56a;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.redCircle{
    background-color: #5a0a0a;
    padding: 2px;
    border-radius: 25%;
}

.redCircleNb{
    background-color: #5a0a0a;
    padding: 12px;
    border-radius: 50%;
}

#redIcon{
    background-color: #5a0a0a;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.blueCircle{
    background-color: #84bed6;
    padding: 2px;
    border-radius: 25%;
}

.blueCircleNb{
    background-color: #84bed6;
    padding: 12px;
    border-radius: 50%;
}

#blueIcon{
    background-color: #84bed6;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.purpleCircleNb{
    background-color: #a597e7;
    padding: 12px;
    border-radius: 50%;
}

#purpleIcon{
    background-color: #a597e7;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.pinkCircle{
    background-color:#ea77ad;
    padding: 2px;
    border-radius: 25%;
}

.pinkCircleNb{
    background-color:#ea77ad;
    padding: 12px;
    border-radius: 50%;
}

#pinkIcon{
    background-color:#ea77ad;
    padding: 46px;
    font-size: 46px;
    border-radius: 50%;
}

.row1 .cart ul li{
    display: inline;
    padding: 10px;
    color: white;
}

.row1 .cart{
    position: absolute;
    float: left;
    right: 5px;
}

.headerLogo {
    width: 50%;
}

.headerLogo img{
    width: 80%;
    padding-left: 10px;
}

#navbar-toggler {
    background-color: #2f3c43;
}

#navbar-brand {
    width: 50%;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
    
body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
}

.titleFeatures p{
    font-size: 40px;
    text-align: center;
}
.textFeature {
   width: 33vh;
}
.rowFeatures{
    display: block;
    overflow: hidden;
    width: 100%;
    margin-left: 10%;
    max-width: 90%;
    justify-content: center;
    margin-bottom: 20px;
}
.features{
    display: block;
    float: left;
    width: calc(100% / 3);
}
.iconFeature i{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #fff;
    font-size: 1.38rem;
}

#navbar-nav {
    padding-top: 20px;
}

#navbar-nav li{
    padding-right: 15px;
}

.text-navbar {
    color: black;
    padding-top: 5px;
}

.center-text {
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .row1{
        display: flex;
    }
    .row1 .info{
        width: 50%;
    }
    #timeHeader{
        display: none;
    }
    .row1 .info ul li{
        padding: 10px;
        color: white;
    }
    .titleFeatures p{
        font-size: 40px;
        text-align: center;
    }
    .textFeature{
        width: 45vw;
    }
    .rowFeatures{
        overflow: hidden;
        margin-left: 5%;
    }
    .features{
        width: calc(100% / 2);
    }
  }
  @media only screen and (max-width: 940px) {
    .row1{
        display: flex;
    }
    .row1 .info{
        width: 50%;
    }
    .row1 .cart{
        position: absolute;
        float: left;
        right: 20px;
    }
    #timeHeader{
        display: none;
    }
    .row1 .info ul li{
        padding: 4px;
        color: white;
    }
    .titleFeatures p{
        font-size: 40px;
        text-align: center;
    }
    .textFeature{
        width: 40vw;
    }
    .features{
        width: calc(100% / 2);
    }
  }

  @media only screen and (max-width: 870px) {
    .row1{
        display: flex;
    }
    .row1 .info{
        width: 50%;
    }
    #timeHeader{
        display: none;
    }
    .row1 .info ul li{
        padding: 4px;
        color: white;
    }
    .headerLogo img{
        width: 100%;
        padding-left: 10px;
    }
    .headerLogo {
        padding: 2%;
        margin-right: 0%;
    }
    .titleFeatures p{
        font-size: 40px;
        text-align: center;
    }
    .textFeature h1{
       width: 45vh;
    }
    .features{
        width: calc(100% / 2);
    }
  }
  @media only screen and (max-width: 770px) {
    .row1{
        display: flex;
    }
    .row1 .info{
        width: 40%;
    }
    .row1 .cart{
        position: absolute;
        float: left;
        right: 5px;
    }
    #phoneHeader{
        display: none;
    }
    #timeHeader{
        display: none;
    }
    .row1 .info ul li{
        padding: 0px;
        color: white;
    }
    .row1 .info ul{
        padding-left: 10px;
    }
    .headerLogo {
        width: 100%;
    }
    .headerLogo img{
        width: 100%;
        padding-left: 10px;
    }

    .titleFeatures p{
        font-size: 40px;
        text-align: center;
    }
    .textFeature{
       width: 40vw;
    }
    .rowFeatures{
        margin-left: 10%;
        max-width: 90%;
    }
    .features{
        width: calc(100% / 2);
    }
    .center-text {
        text-align: left;
    }
}

@media only screen and (max-width: 540px) {
    .features{
        width: calc(100% / 1);
        text-align: center;
    }

    .features h2{
        width: 100%;
        text-align: center;
    }

    .textFeature{
        width: 100vw;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;

     }
     .rowFeatures{
         margin-left: 0%;
         max-width: 100%;
     }

}